<launch>

    <param name="use_sim_time" value="true" />
    
    <node name="map_child_tf_publisher" pkg="tf" type="static_transform_publisher"
          args="0 0 0 0 0 0 map odom 100"/>

    <!--- Run Navsat -->
    <node pkg="lio_sam_6axis" type="lio_sam_6axis_gpsOdometry" name="lio_sam_6axis_gpsOdometry"/>

    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="test_rviz"
          args="-d $(find lio_sam_6axis)/launch/include/config/test.rviz"/>

</launch>
